.window {
  background: $windowbg;
  min-width: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;

  @include border();

  .titlebar {
    background: $titlebarbg;
    font-weight: bold;
    color: #ebeeff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-grow: 1;
  }

  &.active .titlebar {
    background: $titlebaractivebg;
  }

  .title {
    -webkit-box-flex: 20;
    flex-grow: 20;
  }

  .controls {
    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 55px;
  }

  .controls .button {
    padding: 0.2em;
    margin: 0;
    font-family: monospace;
    font-weight: bolder;

    &:not(:last-child) {
      margin-right: 0.3rem;
    }
  }

  .menu {
    display: flex;
    width: 100%;
    user-select: none;
    font-size: 0.95rem;
    background: #c0c0c0;
    box-sizing: border-box;

    & > .item {
      padding: 0.3rem 0.6rem;
      cursor: pointer;
      position: relative;
    }

    .active-item .submenu {
      display: flex;
    }

    .item:hover,
    .active-item {
      background: #000080;
      color: #fff;
    }

    .submenu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      @include border();
      width: max-content;
      .item {
        padding: 0.4rem 2.75rem;
        padding-left: 2.35rem;
        background: #c0c0c0;
        color: #000;
        cursor: pointer;
        font-size: 0.95rem;

        &:hover {
          background: #000080;
          color: #fff;
        }
      }
    }
  }

  .content {
    padding: 1em;
    flex-grow: 100;
  }
}
